<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suyin.decorate.mapper.DecorateMapper">

	<resultMap type="com.suyin.decorate.model.Decorate" id="DecorateMap">
	
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="title" property="title"/>
		<result column="description" property="description"/>
		<result column="seller_description" property="sellerDescription"/>
		<result column="begin_time" property="beginTime"/>
		<result column="end_time" property="endTime"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="upate_user" property="upateUser"/>
		<result column="create_user" property="createUser"/>
		<result column="share_title" property="shareTitle"/>
		<result column="share_img" property="shareImg"/>		
		<result column="active_img" property="activeImg"/>
		<result column="begin_money" property="beginMoney"/>
		<result column="end_money" property="endMoney"/>
		<result column="max_money" property="maxMoney"/>
		<result column="tq_money" property="tqMoney"/>
		<result column="status" property="status"/>
		<result column="exp_uv" property="expUv"/>
		<result column="exp_pv" property="expPv"/>
		<result column="count_price" property="countPrice"/>
		<result column="is_actdate" property="isActDate"/><!-- 虚拟字段 逻辑字段 -->
	
	</resultMap>
	
	<select id="findDecorateById" parameterType="String" resultMap="DecorateMap">
	   <![CDATA[
		   SELECT
				t.seller_description,
				t.active_img,
				t.id,
				t.`name`,
				t.`status`,
				t.create_time,
				t.share_title,
				t.share_img,
				t.begin_money,
				t.end_money,
				t.max_money,
				t.tq_money,
				t.count_price,
				CASE 
					WHEN now()>t.begin_time and now()<t.end_time THEN '1'
					WHEN now()<t.begin_time THEN '0'
					WHEN now() >t.end_time THEN '2' 
				ELSE '-1' END  AS is_actdate
			FROM
				t_exp_decorate t
			WHERE
				1 = 1
			AND t.id =#{id}			
		]]>
	</select>
	
	
</mapper>	