<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suyin.decorate.mapper.RankMapper">
	
<!-- 	<select id="getMyRankInfo" parameterType="String" resultType="Integer">
	   <![CDATA[
		select * from t_exp_decorate t where 1=1  and t.id=#{id}
		]]>
	</select> -->
	
<!-- 	
	<select id="findAllRanListByPage" resultType="java.util.HashMap" parameterType="java.util.HashMap">
	   <![CDATA[
		SELECT
			@rownum:=@rownum+1 as rankNum,
  			IFNULL(t.user_phone,"****") as user_phone,
			t.openid,
			t.nick_name,
			t.count_price,
			t.balance_price,
			t.head_img
		FROM
			t_exp_decorate_user t ,(SELECT @rownum:=0) r
		ORDER BY t.count_price DESC
		]]>
	</select> -->
	
	<!-- map 方式 -->
	<select id="findAllRanListByPage"  resultType="java.util.HashMap" parameterType="java.util.HashMap">
	<![CDATA[
		SELECT	
  			IFNULL(t.user_phone,"****") as user_phone,
			t.openid,
			t.nick_name,
			t.count_price,
			t.balance_price,
			t.head_img
		FROM
			t_exp_decorate_user t
		ORDER BY t.count_price DESC
		]]>
	</select>
	
</mapper>	